

body{
  background: rgb(253,232,29);
  background: radial-gradient(circle, rgba(253,232,29,1) 0%, rgba(252,161,69,1) 52%, rgba(252,244,69,1) 100%); 
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0px;
    padding-bottom: 0px;
}



/*Maquetando header*/


header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 20px 0px 20px;
    margin: 0px;
    background-color: #fff700;
    border-bottom: 2px solid #ddd;
 
  }


  header h1 {
    margin: 0;
    font-size: 1.5em;
    display: inline-block;
    align-content: center;
  }
  
  header img {
    width: 450px; /* Ajusta según el tamaño deseado */
    height: auto;
    margin-left: auto;
 
  }
  
  header nav {
    width: 100%;
    margin-top: 20px;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
 
  }
  
  header nav ul li {
    margin: 0;

    
  }
  
  header nav ul li a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #d92400;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;

  }
  
  header nav ul li a:hover {
    background-color: #000000;
    transition: background-color 0.5s;
  }

  header nav ul{
    list-style: none;
}

header nav ul li {
    padding: 5px;
}

header nav ul li:hover{
    background-color: black;
}

header nav ul li:hover a{
    color: white;
}

header img{
    order: -1;
}



/*Maquetando Main*/
main{
    background-color: yellow;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 25px;
}

h1{
  font-size: 32px;
}

h2{
  font-size: 20px;
  
}

h2.principal{
  margin-top: 0px;
  padding-top: 25px;

}

h3 {
  font-size: 18px;
}

h4, h5, h6{
  font-size: 14px;
}

p {
  font-size: 14px;
}

table.datos{
  width: 25%;
  text-align: center;
}

table.datos tr td{
  padding: 5px 1px 5px 1px;
}

section.temas {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(206, 255, 30);
    padding: 10px;
}

section.temas > article{
    background-color: #f1f1f1;
    border: 5px solid rgb(255, 0, 0);
    padding: 5px;
    font-size: 30px;
    text-align: center;

}



/*Maquetando Footer*/


footer{
    background-color: rgb(255, 255, 0);
}