body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 75px 75px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #660000;
  padding: 10px 20px;
  border-bottom: 2px solid #ccc;
}
header img {
  max-height: 50%; /* Tamaño máximo de la imagen */
}
nav {
  display: flex;
  gap: 35px;
}
nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  background-color: black;
  padding: 0px;
}
nav a:hover {
  color: #007BFF;
}

nav.nav-menu > ul {
  list-style-type: none;
}